 @font-face {
  font-family:PNR;
  src:url('/wp-content/uploads/fonts/ProximaNova-Regular.otf');
  font-weight: regular;
  }

  @font-face {
      font-family:LFR;
      src: url('/wp-content/uploads/fonts/LucidaFax-Regular.ttf');
      font-weight: Regular;
  }

  @font-face {
      font-family:LFR;
      src: url('/wp-content/uploads/fonts/LucidaFax-DemiBold.ttf');
      font-weight: Demibold;
  }

  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#colophon{
font-family:PNR !important;
color: #383838;
text-decoration: none;
font-size:80%;
font-weight: 400;
letter-spacing: 2px;
line-height: 0.5em;
background:#f2f0ed;
display: inline-block !important;
width: 100%;
}

/* POPMAKER*/
html.pum-open.pum-open-overlay, html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
    overflow: hidden;
    position: fixed;
    width: 100%;
}
html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
    overflow-y: hidden;
}
/* Content */
.container {
width:80%;
padding: 4% 0% 0 5%;
}

.container2{

  color:#383838;
text-align:center!important;
}
.container2 img{
height: auto;
max-width: 90%;}

.container2 p{
    text-transform: uppercase;
padding: 1% 0% 1% 0%;
}

.container2 {
padding: 2% 0% 2% 0%;
}


.column-left {
float: left;
width: 33.333%;
}

.column-right {
float: right;
width: 33.333%;
}

.column-center {

  display: inline-block;
  width: 33.333%;
}


.container2 span{
  color: #b91338!important;}

  .container2 p a {color: #b91338 !important;}

/* unvisited link */
.container2 p a:link {
    color: #b91338 ;
 text-decoration: none;
}

/* visited link */
.container2 p a:visited {
  color: #b91338 ;
text-decoration: none;
}


/* mouse over link */
.container2 p a:hover {
  color: #b91338 ;
text-decoration: none;
}

/* selected link */
.container2 p a:active {
  color: #b91338 ;
text-decoration: none;
}
.footlogo{
  width: 200px;}

/*--------------------------------------------------------------
# Media Qeries  Mobile CSSS adapation
-----------------------------------------------------------*/
@media only screen and (max-width: 500px) {
  .container2 p {
      line-height: 1.5em;
  }

}

@media screen and (max-width: 769px) {

}
