
@font-face{
    font-family:PNR;
     src:url("<?php echo get_template_directory_uri(); ?>/fonts/ProximaNova-Regular.otf");
}
  @font-face{
    font-family:LFR;
     src:url("<?php echo get_template_directory_uri(); ?>/fonts/LucidaFax-Regular.ttf");
}
 @font-face{
    font-family:LFD;
    src:url("<?php echo get_template_directory_uri(); ?>/fonts/LucidaFax-Demibold.ttf");
}
  body {
    height: 100%;
    margin: 0;

/* Pick a solid background color that will be displayed while the background image is loading */
background-color:#white !important;

}

/* Padding Header
.hd {
  top: auto;
  left: 0;
  width: 100%;
  padding-top:2%;}*/

/*--------------------------------------------------------------
#Action
--------------------------------------------------------------*/
.atitle{
font-family:LFD !important;
color: white !important;
font-size:30px !important;
text-transform:uppercase !important;
margin-bottom: 60px;
}
.acontainer{
padding-top: 5em;
width: 75%;
float: left;
position: relative;
right: -8em; /* or left 30% */
text-align: left;

}
.acontent{
font-family:PNR !important;
color: white !important;
font-size:15px !important;
text-transform:uppercase !important;
text-align:justify !important;
}
.atitle{
 width: 660px;;
}
.abody {
display: flex;
}

/* align white bar with dc */
.acontent img{
  margin-right: 1.5em;
  vertical-align: super;
}
.acontent:hover img{
  vertical-align: super;
  width: 140px !important;
}
.acontent {
align-self: flex-start;
}

.acontent1{
font-family:LFD!important;
color: white !important;
font-size: 16px !important;
text-transform:uppercase !important;
text-align:left !important;
margin-top: 277px;
margin-bottom: 4em;
display:flex;
flex-wrap: wrap;
width: 95%;
flex-direction:row;
}
.acontent1 img{
height:20px;
width: 2px;
margin-right: 0.5em;
margin-top: 0.3em;
}



.aflex {
width: 24%;
display:flex;
}

.aflex:hover img {
    height: 63px;}

#left {
  flex: 0 0 2% !important;
}

#right {
  flex: 1 !important;
}
#right p {
    margin-bottom: 1;
}

/* flex last two element*/
.aflexx {
width: 26%;
display:flex;
flex-direction: column;
float: left;
padding-left: 1em;
font-family:PNR!important;
}
/* flex last to column*/
.aflexB {
display:flex;
margin-top:2em;
}

.aflexT {
display:flex;
}

.acontent1 p{
  font-family:PNR!important;
  color: white !important;
  font-size:12px !important;
}



/* unvisited link */
.acontent a:link {
color: white !important;

text-decoration: none;
}

/* visited link */
.acontent a:visited {
color: white !important;

text-decoration: none;
}

/* mouse over link
.acontent :hover{
color: white !important;
animation: wiggle 1s;
animation-timing-function: linear;
}

  @keyframes wiggle {
  0% { transform: translate(40px, 0); }
  50% { transform: translate(-2px, 0); }

}*/

/* selected link */
.acontent a:active {
color: white !important;
text-decoration: none;
}

/* unvisited link */
.acontent1 a:link {
color: white !important;
text-decoration: none;
}

/* visited link */
.acontent1 a:visited {
  color: white !important;
text-decoration: none;
}

/* mouse over link */
.acontent1 a:hover {
color: white !important;
text-decoration: none;
}

/* selected link */
.acontent1 a:active {
 color: white !important;
text-decoration: none;
}
/*--------------------------------------------------------------
#POST   background-color:#f3efe4;  #b91338;
--------------------------------------------------------------*/


.landing .section.p608{ display: initial;}

.bcontainer{
  text-align: center;
  padding-top: 10em;
    padding-bottom: 5em;
}

.bsub1
{display: inline-block;}

.bsection592
{
  display: inline-block;
  width: 365px;
  height: 783px;
  text-align: left;
  padding: 650px 10px 30px 30px;
    background:url("/wp-content/uploads/3.png");

  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}
..bsection592 .btitle {
  width: 203px;
}

.bsection596
{
  display: inline-block;
  width: 581px;
  height: 281px;
  text-align: left;
  padding: 207px 30px 30px 30px;
background:url("/wp-content/uploads/4.png");
  border-radius: 3px;
  margin: 15px;
}
.bsection596 .btitle {
  width: Auto;
}


.bsection587
{
  display: inline-block;
  width: 270px;
  height:473px ;
  text-align: left;
  padding: 340px 10px 30px 30px;
  background:url("/wp-content/uploads/2.png");
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}


.bsection587 .btitle {
  width: 203px;
}
.bsection589
{
  display: inline-block;
  width: 270px;
  height:473px ;
  text-align: left;
  padding: 340px 10px 30px 30px;
  background:url("/wp-content/uploads/1.png");
  border-radius: 3px;
  margin: 15px;
}
.bsection589 .btitle {
  width: auto;
}


.btitle{
  font-family:LFD!important;
  font-size: 14px !important;
  font-weight: 600;
  COLOR: WHITE !IMPORTANT;
}

.bexcerpt{
  font-family:PNR!important;
  font-size: 12px !important;
  font-weight: 400;
}


/* unvisited link */
.bcontainer a:link {
color: white !important;
text-decoration: none;
}

/* visited link */
.bcontainer a:visited {
color: white !important;
text-decoration: none;
}

/* mouse over link */
.bcontainer a:hover {
color: white !important;
text-decoration: none;
}

/* selected link */
.bcontainer a:active {
 color: white !important;
text-decoration: none;
}



/*--------------------------------------------------------------
Decouvrir HC
--------------------------------------------------------------*/


.dhtitle{
font-family:LFR !important;
color: #b91338 !important;
font-size:29px !important;
font-weight:600;
text-transform:uppercase !important;
text-align:center !important;
}
.dhcontent1{
font-family:LFR !important;
color: #383838 !important;
font-size:17px !important;
font-weight:600;
text-transform:uppercase !important;
text-align:center !important;
line-height: 2.5em;
}
.dhcontent2{
font-family:LFR !important;
color: #383838 !important;
font-size:23px !important;
font-weight: 600;
text-transform:uppercase !important;
text-align:center !important;
line-height: 4em;
padding-bottom:13em;
}
/*.dhcontent2 a {
margin: 2.5em !important; }*/

 /*unvisited link */
.dhcontent2 a:link {
color: #383838 !important;
font-size:23px !important;
text-decoration: none;
}

/* visited link */
.dhcontent2 a:visited {
  color: #383838 !important;
font-size:23px !important;
text-decoration: none;
font-weight: 600;
}

/* mouse over link */
.dhcontent2 a:hover {
  color: #383838 !important;
font-size:23px !important;
text-decoration: none;
font-weight: 600;
}

/* selected link */
.dhcontent2 a:active {
  color: #383838 !important;
font-size:23px !important;
text-decoration: none;
font-weight: 600;

padding-bottom: 5em;

}
/* titlebar space */
.dhtitle img {margin: 2em;}
/*--------------------------------------------------------------
#Gestion privee
--------------------------------------------------------------*/
.gptitle{
font-family:LFD !important;
color: #b91338 !important;
font-size:41.48px !important;
text-transform:uppercase !important;
}
.gpcontent{
font-family:PNR !important;
color: #383838 !important;
font-size:17px !important;
text-transform:uppercase !important;
text-align:justify!important;
}

.gptitle{
  width: 10%;
  margin-bottom: 1em;
}

.gpbar{
  float: left;
}

}
.gpbar img{
height: 0.2em; width: 4em;
}

.gpcontent {
  float: right;
  width: 90%;
}

.gpcontainer{
display: inline-block;
margin: 9% 0 10% 10%;
width:100%;
text-align: left;

}
/*--------------------------------------------------------------
#Valeurs
--------------------------------------------------------------*/
.vctitle{
font-family:LFR !important;
color: #b91338 !important;
font-size:29.01px !important;
font-weight: 600;
text-transform:uppercase !important;
}


.vctitle{
 width: 615px;;
}
.vcbody {
display: flex;
}
.vcbar{
width: 70px;
margin-right: 1em;
}

.vccontent {
  font-family:PNR !important;
  color: #383838 !important;
  font-size:12.81px !important;
  text-transform:uppercase !important;
  text-align:justify !important;
align-self: flex-start;
}
/* br title size and position */
.vccontent img {
    margin-right: 0.5em;
    vertical-align: super;
}


.vccontent1{
font-family:PNR!important;
color: #383838 !important;
font-size:10px !important;
text-transform:uppercase !important;
text-align:left !important;
margin-top: 10em;
display:flex;
flex-wrap: wrap;
max-width: 1300px;
}
.vccontent1 img{
  height: 0.8em;
    width: 0.05em;
    margin-right: 0.2em;
    margin-left: 0.2em;
        }

.vcflex {
width: 320px;
margin: 0px 0 7em 2em;
}


.vcflex {
  display: flex;
}

#vccleft {
  font-family:LFD!important;
  color: #b91338 !important;
  font-size:42px !important;
  /*flex: 0 0 0%;*/
}

#vccright {
      padding-top: 1em;
  flex: 1;
}


/* unvisited link */
.vccontent1 a:link {
color: #383838 !important;
font-size:11px !important;
text-decoration: none;
}

/* visited link */
.vccontent1 a:visited {
  color: #383838 !important;
font-size:11px !important;
text-decoration: none;
}

/* mouse over link */
.vccontent1 a:hover {
color: #383838 !important;
font-size:11px !important;
text-decoration: none;
}

/* selected link */
.vccontent1 a:active {
 color: #383838 !important;
font-size:11px !important;
text-decoration: none;
}
.vcnumber{
font-family:LFD!important;
color: #b91338 !important;
font-size:42px !important;

}
/*--------------------------------------------------------------
 A philantropique
--------------------------------------------------------------*/

.aptitle{
  font-family:LFR !important;
  color: #b6183b !important;
  font-size:19.49px !important;
  font-weight: 600;
  text-transform:uppercase !important;
  text-align:center !important;
  }
.apcontent{
font-family:PNR !important;
color: 383838 !important;
font-size:17px !important;
font-weight: 100;
text-transform:uppercase !important;
text-align:center !important;
line-height: 2em;
}
.apimg{
margin-top: 2em;
margin-bottom: 2em;
text-align: center;}



/*--------------------------------------------------------------
# Couverture internationale
--------------------------------------------------------------*/
.cititle{
font-family:LFR !important;
color: #b6183b !important;
font-size:19.49px !important;
font-weight: 600;
text-transform:uppercase !important;
text-align:center !important;
}
.cimg{
text-align:center !important;
padding-top:4%;
padding-bottom:4%;}

.cicontent{
font-family:PNR !important;
color: white !important;
font-size:16px !important;
font-weight:light;
text-transform:uppercase !important;
text-align:center !important;
padding-bottom: 10em;
}
.cih1{font-family:LFR !important;
color: white !important;
font-size:19.49px !important;
font-weight: 600;}

/*--------------------------------------------------------------
# Media Queries  Mobile CSSS adapation
--------------------------------------------------------------*/
@media only screen and (max-width: 500px) {
   .navbar-default{
  width: 100vw !important;
}
.hd .navbar-default {
position: absolute!important;
}
/*--------------------------------------------------------------
#Action
--------------------------------------------------------------*/
.lcontainer{
    margin-top: 4em!important;
}
.atitle {
width: 100vw !important;
}

.acontent1 {
margin-top: 10em;
width: 100vw !important;
}

img {
    height: auto;
    max-width: 50vw;
}

/*--------------------------------------------------------------
Decouvrir HC
--------------------------------------------------------------*/
.dhcontent2 {
line-height: 2.5em !important;
    padding-bottom: 8em!important;
}

/*--------------------------------------------------------------
GP
--------------------------------------------------------------*/
.gpcontent {
    float: right!important;
    width: 87vw!important;
    text-align: left!important;
  }
.landing .section.p113 {
  width: 100% !important;}

  /*--------------------------------------------------------------
Valeurs
  --------------------------------------------------------------*/

  .vctitle {
    width: auto!important;
}

.vccontent1 {    width: auto!important;
}
  .landing .section.p113 {
    width: 100% !important;}

/*--------------------------------------------------------------
#Sticky Header
