
@font-face{
    font-family:PNR;
     src:url("<?php echo get_template_directory_uri(); ?>/fonts/ProximaNova-Regular.otf");
}
  @font-face{
    font-family:LFR;
     src:url("<?php echo get_template_directory_uri(); ?>/fonts/LucidaFax-Regular.ttf");
}
 @font-face{
    font-family:LFD;
    src:url("<?php echo get_template_directory_uri(); ?>/fonts/LucidaFax-Demibold.ttf");
}
  body {
    height: 100%;
    margin: 0;

/* Pick a solid background color that will be displayed while the background image is loading */
background-color:#white !important;

}



/* Padding Header */
.hd {padding-top:2%;}


/*--------------------------------------------------------------
#Action
--------------------------------------------------------------*/
.atitle{
font-family:LFD !important;
color: white !important;
font-size:30px !important;
text-transform:uppercase !important;
}
.acontainer{
padding-top: 5em;
width: 75%;
float: left;
position: relative;
right: -8em; /* or left 30% */
text-align: left;

}
.acontent{
font-family:PNR !important;
color: white !important;
font-size:10.94px !important;
text-transform:uppercase !important;
text-align:justify !important;
}
.atitle{
 width: 615px;;
}
.abody {
display: flex;
}

/* align white bar with dc */
.acontent img{
  margin-right: 1em;
  vertical-align: super;
}

.acontent {
align-self: flex-start;
}



.acontent1{
font-family:LFD!important;
color: white !important;
font-size:11px !important;
text-transform:uppercase !important;
text-align:left !important;
margin-top: 20em;
display:flex;
flex-wrap: wrap;
width: 1100px;
flex-direction:row;
}
.acontent1 img{
height:20px;
width: 2px;
margin-right: 0.5em;}

.aflex {
width: 230px;
display:flex;
}
#left {
  flex: 0 0 6% !important;
}

#right {
  flex: 1 !important;
}

.acontent1 p{
  font-family:PNR!important;
  color: white !important;
  font-size:9.49px !important;
}



/* unvisited link */
.acontent a:link {
color: white !important;
font-size:13px !important;
text-decoration: none;
}

/* visited link */
.acontent a:visited {
color: white !important;
font-size:13px !important;
text-decoration: none;
}

/* mouse over link */
.acontent a:hover {
color: white !important;
font-size:13px !important;
text-decoration: none;
}

/* selected link */
.acontent a:active {
color: white !important;
font-size:13px !important;
text-decoration: none;
}

/* unvisited link */
.acontent1 a:link {
color: white !important;
font-size:11px !important;
text-decoration: none;
}

/* visited link */
.acontent1 a:visited {
  color: white !important;
font-size:11px !important;
text-decoration: none;
}

/* mouse over link */
.acontent1 a:hover {
color: white !important;
font-size:11px !important;
text-decoration: none;
}

/* selected link */
.acontent1 a:active {
 color: white !important;
font-size:11px !important;
text-decoration: none;
}


/*--------------------------------------------------------------
Decouvrir HC
--------------------------------------------------------------*/


.dhtitle{
font-family:LFR !important;
color: #b91338 !important;
font-size:29px !important;
font-weight:600;
text-transform:uppercase !important;
text-align:center !important;
}
.dhcontent1{
font-family:LFR !important;
color: #383838 !important;
font-size:17px !important;
font-weight:600;
text-transform:uppercase !important;
text-align:center !important;
line-height: 2.5em;
}
.dhcontent2{
font-family:LFR !important;
color: #383838 !important;
font-size:23px !important;
font-weight: 600;
text-transform:uppercase !important;
text-align:center !important;
line-height: 4em;
padding-bottom:13em;
}



/* unvisited link */
.dhcontent2 a:link {
color: #383838 !important;
font-size:23px !important;
text-decoration: none;
}

/* visited link */
.dhcontent2 a:visited {
  color: #383838 !important;
font-size:23px !important;
text-decoration: none;
font-weight: 600;
}

/* mouse over link */
.dhcontent2 a:hover {
  color: #383838 !important;
font-size:23px !important;
text-decoration: none;
font-weight: 600;
}

/* selected link */
.dhcontent2 a:active {
  color: #383838 !important;
font-size:23px !important;
text-decoration: none;
font-weight: 600;

padding-bottom: 5em;

}
/* titlebar space */
.dhtitle img {margin: 2em;}
/*--------------------------------------------------------------
#Gestion privee
--------------------------------------------------------------*/
.gptitle{
font-family:LFD !important;
color: #b91338 !important;
font-size:41.48px !important;
text-transform:uppercase !important;
}
.gpcontent{
font-family:PNR !important;
color: #383838 !important;
font-size:17px !important;
text-transform:uppercase !important;
text-align:justify!important;
}

.gptitle{
  width: 10%;
  margin-bottom: 1em;
}

.gpbar{
  float: left;
}

}
.gpbar img{
height: 0.2em; width: 4em;
}

.gpcontent {
  float: right;
  width: 90%;
}

.gpcontainer{
display: inline-block;
margin: 9% 0 10% 10%;
width:100%;
text-align: left;

}
/*--------------------------------------------------------------
#Valeurs
--------------------------------------------------------------*/
.vctitle{
font-family:LFR !important;
color: #b91338 !important;
font-size:30px !important;
font-weight: 600;
text-transform:uppercase !important;
}
.acontainer{
padding-top: 5em;
width: 75%;
float: left;
position: relative;
right: -8em; /* or left 30% */
text-align: left;

}
.vccontent{
font-family:PNR !important;
color: #383838 !important;
font-size:13px !important;
text-transform:uppercase !important;
text-align:justify !important;
}
.vctitle{
 width: 615px;;
}
.vcbody {
display: flex;
}
.vcbar{
width: 70px;
margin-right: 1em;
}

.vccontent {
align-self: flex-start;
}



.vccontent1{
font-family:PNR!important;
color: #383838 !important;
font-size:11px !important;
text-transform:uppercase !important;
text-align:left !important;
margin-top: 10em;
display:flex;
flex-wrap: wrap;
width:1100px;
}
.vccontent1 img{
height:10px;
width: 2px;
margin-right: 0.5em;}

.vcflex {
width: 320px;
margin: 0px 0 2em 2em;
}


/* unvisited link */
.vccontent1 a:link {
color: #383838 !important;
font-size:11px !important;
text-decoration: none;
}

/* visited link */
.vccontent1 a:visited {
  color: #383838 !important;
font-size:11px !important;
text-decoration: none;
}

/* mouse over link */
.vccontent1 a:hover {
color: #383838 !important;
font-size:11px !important;
text-decoration: none;
}

/* selected link */
.vccontent1 a:active {
 color: #383838 !important;
font-size:11px !important;
text-decoration: none;
}
.vcnumber{
font-family:LFD!important;
color: #b91338 !important;
font-size:42px !important;

}
/*--------------------------------------------------------------
 A philantropique
--------------------------------------------------------------*/

.aptitle{
font-family:LFR !important;
color: white !important;
font-size:23px !important;
font-weight: 600;
text-transform:uppercase !important;
text-align:center !important;
}
.apcontent{
font-family:LFR !important;
color: white !important;
font-size:19.49px !important;
font-weight: 600;
text-transform:uppercase !important;
text-align:center !important;
line-height: 2em;
}
    .apimg{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;}



/*--------------------------------------------------------------
# Couverture internationale
--------------------------------------------------------------*/
.cititle{
font-family:LFR !important;
color: white !important;
font-size:19.49px !important;
font-weight: 600;
text-transform:uppercase !important;
text-align:center !important;
}
.cimg{
text-align:center !important;
padding-top:4%;
padding-bottom:4%;}

.cicontent{
font-family:PNR !important;
color: white !important;
font-size:16px !important;
font-weight:light;
text-transform:uppercase !important;
text-align:center !important;
padding-bottom: 10em;
}
.cih1{font-family:LFR !important;
color: white !important;
font-size:19.49px !important;
font-weight: 600;}

/*--------------------------------------------------------------
# Media Qeries  Mobile CSSS adapation
--------------------------------------------------------------*/
@media only screen and (max-width: 500px) {
   .bpic {
    width: 100% !important;
    height: auto !important;
}
.post-list{
    margin: 0 auto;
     width : auto !important;
}
}


/*--------------------------------------------------------------
#Sticky Header
